#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* CSS de regalo */

.container {
  width: 660px;
  display: flex;
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid white;
}

/* Estilos para cada una de las box */
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-width: 1px;
  border-style: solid;
  color: white;
}

/* Estilos para el input */
input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-bottom: 20px;
}





